<%- include('./partials/header') %>

<div class="px-3 border m-2">
  <h3 class="mt-3">Edit Cohort</h3>
  <form action="/cohorts/<%= cohort.id %>" method="POST">
    <div class="mb-3">
      <label for="logoUrl" class="form-label">Logo Url</label>
      <input name ='logoUrl' type="text" class="form-control" id="logoUrl" value="<%= cohort.logoUrl %>">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name ='name' type="text" class="form-control" id="name" value="<%= cohort.name %>">
    </div>
    <div class="mb-3">
      <label name ='members' for="members" class="form-label">Members</label>
      <textarea name = 'members' class="form-control" id="members" rows="3"><%= cohort.members %></textarea>
    </div>
    <input type="hidden" name="_method" value="PATCH">
    <button type="submit" class="btn btn-outline-primary mb-3">Submit</button>
  </form>
</div>


<%- include('./partials/footer') %>