<!-- here i need to list all cards in index / db-->
<%- include('./partials/header') %>

<div class="list-group">
    <% cohorts.forEach(cohort => { %>

    
    <div class="card">
      <img src="<%= cohort.logoUrl %>" class="rounded-circle"" width="75" height="75" alt="...">
      <div class="card-body">
          <!-- for loop all of these out-->
        <h5 class="card-title"><%= cohort.name %></h5>
        <p class="card-text"> <%= cohort.members %></p>
        <form action="/cohorts/<%= cohort.id %>" method="get">
        <button type="submit" class="btn btn-primary">Show cohorts</button>
        </form>
      </div>
    <% }) %>
  </div>




<%- include('./partials/footer') %>