<%- include('./partials/header') %>

<h1>show page</h1>

<div class="card-group">
    <div class="card">
      <img src="<%= cohort.logoUrl %>" class="rounded-circle"" width="75" height="75" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= cohort.name %></h5>
        <p class="card-text"> <%= cohort.members %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="submit" class="btn btn-danger">Delete</button>

        <!-- teams -->
        <form action="" method = "GET">
        <label name = 'teamCount' class="btn btn-secondary active">
          <input type="radio" name="method" id="teamCount" value="teamCount"checked> Team count
        </label>
        <label name="numberTeam" class="btn btn-secondary">
          <input type="radio" name="method" id="numberTeam" value="numberTeam"> Number Per Team
        </label>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity">
        
      </div>
        <button type="submit" class="btn btn-outline-primary">Assign Teams</button>
      </form>

      <!-- teams broken down -->

      <% if (teams) { %>
        <ul class="list-group list-group-flush">
          <% teams.forEach(team => { %>
            <li class="list-group-item"><%= team.toString() %></li>
          <% }) %> 
          <% } %> 
        </ul>
      <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Members</th>
          </tr>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>mark</td>
            </tr>
            <tr>
              <th scope = 'row'>2</th>
              <td>jeff</td>
            </tr>
            <tr>
          </tr>
        </thead>
        </table> -->


        
      </div>



<%- include('./partials/footer') %>



